@import "compass/reset";
@import "compass/css3";

@font-face {
  font-family: 'FangZhengQingKeBenYueSong';
  src: url('../resources/FZQKBYSJW.TTF');
}

body {
  font-family: 'FangZhengQingKeBenYueSong', Helvetica, sans-serif;
  font-size: 100%;

  h1 {
    font-size: 200%;
  }
}

section {
  color: white;
  h1 {
    font-size: 150%;
  }
}

#red {
  background: #FF2121;
}

#pink {
  background: #FFb3a7;
}

#princess {
  background: #ED5736;
}

#magenta {
  background: #F00056;
}

#peach {
  background: #F47983;
}

#begonia {
  background: #DB5A6B;
}

#garnet {
  background: #F20C00;
}

#cherry {
  background: #C93756;
}

#yin {
  background: #F05654;
}

#deepPlum {
  background: #8C4356;
}

#crimson {
  background: #C83C23;
}

#rouge {
  background: #9D2933;
}

#vermilion {
  background: #FF4C00;
}

#dan {
  background: #FF4E20;
}

#tong {
  background: #F35336;
}

#qian {
  background: #CB3A56;
}

#fire {
  background: #FF2D51;
}

#he {
  background: #FFb3a7;
}

#flower {
  background: #EF7A82;
}

#yang {
  background: #FF0097;
}

#yan {
  background: #FF3300;
}

#chi {
  background: #C3272B;
}

#wan {
  background: #A98175;
}

#claret {
  background: #C32136;
}

#sandalwood {
  background: #B36D61;
}

#darkRed {
  background: #BE002F;
}

#flushed {
  background: #DC3023;
}

#blush {
  background: #F9906F;
}

#lightYellow {
  background: #FFF143;
}

#duck {
  background: #FAFF72;
}

#primrose {
  background: #EAFF56;
}

#apricot {
  background: #FFA631;
}

#apricotRed {
  background: #FF8C31;
}

#orange {
  background: #FF8936;
}

#orangeYellow {
  background: #FFA400;
}

#orangeRed {
  background: #FF7500;
}

#turmeric {
  background: #FFC773;
}

#paleYellow {
  background: #F0C239;
}

#orangeColor {
  background: #FA8C35;
}

#tea {
  background: #B35C44;
}

#lightTon {
  background: #A88462;
}

#dim {
  background: #C89B40;
}

#maroon {
  background: #60281E;
}

#brown {
  background: #B25D25;
}

#brownGreen {
  background: #827100;
}

#brownBlack {
  background: #7C4B00;
}

#brownRed {
  background: #9B4400;
}

#brownYellow {
  background: #AE7000;
}

#ocher {
  background: #9C5333;
}

#ocherColor {
  background: #955539;
}

#amber {
  background: #CA6924;
}

#brownColor {
  background: #6E511E;
}

#withered {
  background: #D3B170;
}

#sumac {
  background: #E29C45;
}

#autumn {
  background: #896C39;
}

#scholar {
  background: #D9B611;
}