@import "compass/reset";
@import "compass/css3";

@font-face {
  font-family: 'FangZhengQingKeBenYueSong';
  src: url('../resources/FZQKBYSJW.TTF');
}

body {
  font-family: 'FangZhengQingKeBenYueSong', Helvetica, sans-serif;
  font-size: 100%;
  color: #000000;

  header {
    font-size: 300%;
  }

  article {
    header {
      width: 10%;
      float: left;
      position: relative;
      color: white;
      p {
        width: 20%;
      }
    }

    section {
      font-size: 150%;
      color: white;
      width: 90%;
      position: relative;
      float: left;
    }
  }

}

#redGroup {
  header {
    height: 1584px;
    background-image: url("../resources/red.png");
  }
}

#orangeGroup {
  header {
    height: 816px;
    background-image: url("../resources/orange.png");
  }
}

#yellowGroup {
  header {
    height: 864px;
    background-image: url("../resources/yellow.png");
  }
}

#greenGroup {
  header {
    height: 1104px;
    background-image: url("../resources/green.png");
  }
}

#qingGroup {
  header {
    height: 864px;
    background-image: url("../resources/qing.png");
  }
}

#blueGroup {
  header {
    height: 672px;
    background-image: url("../resources/blue.png");
  }
}

#purpleGroup {
  header {
    height: 576px;
    background-image: url("../resources/purple.png");
  }
}

#grayGroup {
  header {
    height: 1152px;
    background-image: url("../resources/gray.png");
  }
}

#red {
  background: #FF2121;
}

#pink {
  background: #FFB3A7;
}

#princess {
  background: #ED5736;
}

#magenta {
  background: #F00056;
}

#peach {
  background: #F47983;
}

#begonia {
  background: #DB5A6B;
}

#garnet {
  background: #F20C00;
}

#cherry {
  background: #C93756;
}

#yin {
  background: #F05654;
}

#deepPlum {
  background: #8C4356;
}

#crimson {
  background: #C83C23;
}

#rouge {
  background: #9D2933;
}

#vermilion {
  background: #FF4C00;
}

#dan {
  background: #FF4E20;
}

#tong {
  background: #F35336;
}

#qian {
  background: #CB3A56;
}

#fire {
  background: #FF2D51;
}

#he {
  background: #C91F37;
}

#flower {
  background: #EF7A82;
}

#yang {
  background: #FF0097;
}

#yan {
  background: #FF3300;
}

#chi {
  background: #C3272B;
}

#wan {
  background: #A98175;
}

#claret {
  background: #C32136;
}

#sandalwood {
  background: #B36D61;
}

#darkRed {
  background: #BE002F;
}

#flushed {
  background: #DC3023;
}

#blush {
  background: #F9906F;
}

#lightYellow {
  background: #FFF143;
}

#duck {
  background: #FAFF72;
}

#primrose {
  background: #EAFF56;
}

#apricot {
  background: #FFA631;
}

#apricotRed {
  background: #FF8C31;
}

#orange {
  background: #FF8936;
}

#orangeYellow {
  background: #FFA400;
}

#orangeRed {
  background: #FF7500;
}

#turmeric {
  background: #FFC773;
}

#paleYellow {
  background: #F0C239;
}

#orangeColor {
  background: #FA8C35;
}

#tea {
  background: #B35C44;
}

#lightTon {
  background: #A88462;
}

#dim {
  background: #C89B40;
}

#maroon {
  background: #60281E;
}

#brown {
  background: #B25D25;
}

#brownGreen {
  background: #827100;
}

#brownBlack {
  background: #7C4B00;
}

#brownRed {
  background: #9B4400;
}

#brownYellow {
  background: #AE7000;
}

#ocher {
  background: #9C5333;
}

#ocherColor {
  background: #955539;
}

#amber {
  background: #CA6924;
}

#brownColor {
  background: #6E511E;
}

#withered {
  background: #D3B17D;
}

#sumac {
  background: #E29C45;
}

#autumn {
  background: #896C39;
}

#scholar {
  background: #D9B611;
}

#lightGreen {
  background: #BDDD22;
}

#willowYellow {
  background: #C9DD22;
}

#willowGreen {
  background: #AFDD22;
}

#bambooGreen {
  background: #789262;
}

#onionYellow {
  background: #A3D900;
}

#onionGreen {
  background: #9ED900;
}

#greenOnion {
  background: #0EB83A;
}

#onionBeauty {
  background: #0EB83A;
}

#scallion {
  background: #0AA344;
}

#glossyGreen {
  background: #00BC12;
}

#greenShen {
  background: #0C8918;
}

#darkGreen {
  background: #009900;
}

#bi {
  background: #1BD1A5;
}

#biGreen {
  background: #2ADD9C;
}

#greenBi {
  background: #48C0A3;
}

#emerald {
  background: #3DE1AD;
}

#grassGreen {
  background: #40DE5A;
}

#qing {
  background: #00E09E;
}

#greenCui {
  background: #00E079;
}

#greenWhite {
  background: #C0EBD7;
}

#duckEgg {
  background: #E0EEE8;
}

#crab {
  background: #BBCDC5;
}

#ya {
  background: #424C50;
}

#green {
  background: #00E500;
}

#pea {
  background: #9ED048;
}

#peaGreen {
  background: #96CE54;
}

#rock {
  background: #7BCFA6;
}

#jade {
  background: #2EDFA3;
}

#misty {
  background: #7FECAD;
}

#ai {
  background: #A4E2C6;
}

#loose {
  background: #21A675;
}

#songhuaGreen {
  background: #057748;
}

#songhua {
  background: #BCE672;
}

#blue {
  background: #44CEF6;
}

#darkBlueGreen {
  background: #177CB0;
}

#indigo {
  background: #065279;
}

#blueGreen {
  background: #3EEDE7;
}

#weiBlue {
  background: #70F3FF;
}

#sapphire {
  background: #4B5CC4;
}

#blueGray {
  background: #A1AFC9;
}

#darkQing {
  background: #2E4E7E;
}

#darkBlue {
  background: #3B2E7E;
}

#dai {
  background: #4A4266;
}

#daiLuo {
  background: #4A4266;
}

#daiGreen {
  background: #426666;
}

#daiBlue {
  background: #425066;
}

#daiPurple {
  background: #574266;
}

#purple {
  background: #8D4BBB;
}

#purpleJiang {
  background: #815463;
}

#jiangPurple {
  background: #815476;
}

#rosewood {
  background: #4C211B;
}

#ganQing {
  background: #003371;
}

#purpleTang {
  background: #56004F;
}

#qingLotus {
  background: #801DAE;
}

#ultramarine {
  background: #4C8DAE;
}

#snowQing {
  background: #B0A4E3;
}

#lilac {
  background: #CCA4E3;
}

#ou {
  background: #EDD1D8;
}

#ouHe {
  background: #E4C6D0;
}

#cang {
  background: #75878A;
}

#cangCui {
  background: #519A73;
}

#cangYellow {
  background: #A29B7C;
}

#cangQing {
  background: #7397AB;
}

#cangBlack {
  background: #395260;
}

#cangWhite {
  background: #D1D9E0;
}

#water {
  background: #88ADA6;
}

#waterRed {
  background: #F3D3E7;
}

#waterGreen {
  background: #D4F2E7;
}

#waterBlue {
  background: #D2F0F4;
}

#danQing {
  background: #D3E0F3;
}

#lakeBlue {
  background: #30DFF3;
}

#lakeGreen {
  background: #25F8CD;
}

#pureWhite {
  background: #FFFFFF;
}

#ivoryWhite {
  background: #FFFBF0;
}

#snowWhite {
  background: #F0FCFF;
}

#moonWhite {
  background: #D6ECF0;
}

#gao {
  background: #F2ECDE;
}

#su {
  background: #E0F0E9;
}

#tu {
  background: #F3F9F1;
}

#frost {
  background: #E9F1F6;
}

#greyDawn {
  background: #FCEFE8;
}

#ying {
  background: #E3F9FD;
}

#gray {
  background: #808080;
}

#tooth {
  background: #EEDEB0;
}

#leadWhite {
  background: #F0F0F4;
}

#xuan {
  background: #622A1D;
}

#xuanQing {
  background: #3D3B4F;
}

#wu {
  background: #725E82;
}

#wuBlack {
  background: #392F41;
}

#qiBlack {
  background: #161823;
}

#mo {
  background: #50616D;
}

#moGray {
  background: #758A99;
}

#black {
  background: #000000;
}

#zi {
  background: #493131;
}

#ivoryBlack {
  background: #312520;
}

#li {
  background: #5D513C;
}

#daybreak {
  background: #75664D;
}

#you {
  background: #6B6882;
}

#youBlack {
  background: #665757;
}

#an {
  background: #41555D;
}

#chiGold {
  background: #F2BE45;
}

#gold {
  background: #EACD76;
}

#silverWhite {
  background: #E9E7EF;
}

#verdigris {
  background: #549688;
}

#wuGold {
  background: #A78E44;
}

#oldSilver {
  background: #BACAC6;
}