/* line 5, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'FangZhengQingKeBenYueSong';
  src: url("../resources/FZQKBYSJW.TTF");
}
/* line 9, ../sass/style.scss */
body {
  font-family: 'FangZhengQingKeBenYueSong', Helvetica, sans-serif;
  font-size: 100%;
}
/* line 13, ../sass/style.scss */
body h1 {
  font-size: 200%;
}

/* line 18, ../sass/style.scss */
section {
  color: white;
}
/* line 20, ../sass/style.scss */
section h1 {
  font-size: 150%;
}

/* line 25, ../sass/style.scss */
#red {
  background: #FF2121;
}

/* line 29, ../sass/style.scss */
#pink {
  background: #FFb3a7;
}

/* line 33, ../sass/style.scss */
#princess {
  background: #ED5736;
}

/* line 37, ../sass/style.scss */
#magenta {
  background: #F00056;
}

/* line 41, ../sass/style.scss */
#peach {
  background: #F47983;
}

/* line 45, ../sass/style.scss */
#begonia {
  background: #DB5A6B;
}

/* line 49, ../sass/style.scss */
#garnet {
  background: #F20C00;
}

/* line 53, ../sass/style.scss */
#cherry {
  background: #C93756;
}

/* line 57, ../sass/style.scss */
#yin {
  background: #F05654;
}

/* line 61, ../sass/style.scss */
#deepPlum {
  background: #8C4356;
}

/* line 65, ../sass/style.scss */
#crimson {
  background: #C83C23;
}

/* line 69, ../sass/style.scss */
#rouge {
  background: #9D2933;
}

/* line 73, ../sass/style.scss */
#vermilion {
  background: #FF4C00;
}

/* line 77, ../sass/style.scss */
#dan {
  background: #FF4E20;
}

/* line 81, ../sass/style.scss */
#tong {
  background: #F35336;
}

/* line 85, ../sass/style.scss */
#qian {
  background: #CB3A56;
}

/* line 89, ../sass/style.scss */
#fire {
  background: #FF2D51;
}

/* line 93, ../sass/style.scss */
#he {
  background: #FFb3a7;
}

/* line 97, ../sass/style.scss */
#flower {
  background: #EF7A82;
}

/* line 101, ../sass/style.scss */
#yang {
  background: #FF0097;
}

/* line 105, ../sass/style.scss */
#yan {
  background: #FF3300;
}

/* line 109, ../sass/style.scss */
#chi {
  background: #C3272B;
}

/* line 113, ../sass/style.scss */
#wan {
  background: #A98175;
}

/* line 117, ../sass/style.scss */
#claret {
  background: #C32136;
}

/* line 121, ../sass/style.scss */
#sandalwood {
  background: #B36D61;
}

/* line 125, ../sass/style.scss */
#darkRed {
  background: #BE002F;
}

/* line 129, ../sass/style.scss */
#flushed {
  background: #DC3023;
}

/* line 133, ../sass/style.scss */
#blush {
  background: #F9906F;
}

/* line 137, ../sass/style.scss */
#lightYellow {
  background: #FFF143;
}

/* line 141, ../sass/style.scss */
#duck {
  background: #FAFF72;
}

/* line 145, ../sass/style.scss */
#primrose {
  background: #EAFF56;
}

/* line 149, ../sass/style.scss */
#apricot {
  background: #FFA631;
}

/* line 153, ../sass/style.scss */
#apricotRed {
  background: #FF8C31;
}

/* line 157, ../sass/style.scss */
#orange {
  background: #FF8936;
}

/* line 161, ../sass/style.scss */
#orangeYellow {
  background: #FFA400;
}

/* line 165, ../sass/style.scss */
#orangeRed {
  background: #FF7500;
}

/* line 169, ../sass/style.scss */
#turmeric {
  background: #FFC773;
}

/* line 173, ../sass/style.scss */
#paleYellow {
  background: #F0C239;
}

/* line 177, ../sass/style.scss */
#orangeColor {
  background: #FA8C35;
}

/* line 181, ../sass/style.scss */
#tea {
  background: #B35C44;
}

/* line 185, ../sass/style.scss */
#lightTon {
  background: #A88462;
}

/* line 189, ../sass/style.scss */
#dim {
  background: #C89B40;
}

/* line 193, ../sass/style.scss */
#maroon {
  background: #60281E;
}

/* line 197, ../sass/style.scss */
#brown {
  background: #B25D25;
}

/* line 201, ../sass/style.scss */
#brownGreen {
  background: #827100;
}

/* line 205, ../sass/style.scss */
#brownBlack {
  background: #7C4B00;
}

/* line 209, ../sass/style.scss */
#brownRed {
  background: #9B4400;
}

/* line 213, ../sass/style.scss */
#brownYellow {
  background: #AE7000;
}

/* line 217, ../sass/style.scss */
#ocher {
  background: #9C5333;
}

/* line 221, ../sass/style.scss */
#ocherColor {
  background: #955539;
}

/* line 225, ../sass/style.scss */
#amber {
  background: #CA6924;
}

/* line 229, ../sass/style.scss */
#brownColor {
  background: #6E511E;
}

/* line 233, ../sass/style.scss */
#withered {
  background: #D3B170;
}

/* line 237, ../sass/style.scss */
#sumac {
  background: #E29C45;
}

/* line 241, ../sass/style.scss */
#autumn {
  background: #896C39;
}

/* line 245, ../sass/style.scss */
#scholar {
  background: #D9B611;
}

/* line 249, ../sass/style.scss */
#lightGreen {
  background: #BDDD22;
}

/* line 253, ../sass/style.scss */
#willowYellow {
  background: #C9DD22;
}

/* line 257, ../sass/style.scss */
#willowGreen {
  background: #AFDD22;
}

/* line 261, ../sass/style.scss */
#bambooGreen {
  background: #789262;
}

/* line 265, ../sass/style.scss */
#onionYellow {
  background: #A3D900;
}

/* line 269, ../sass/style.scss */
#onionGreen {
  background: #9ED900;
}

/* line 273, ../sass/style.scss */
#greenOnion {
  background: #0EB83A;
}

/* line 277, ../sass/style.scss */
#onionBeauty {
  background: #0EB83A;
}

/* line 281, ../sass/style.scss */
#scallion {
  background: #0AA344;
}

/* line 285, ../sass/style.scss */
#glossyGreen {
  background: #00BC12;
}

/* line 289, ../sass/style.scss */
#greenShen {
  background: #0C8918;
}

/* line 293, ../sass/style.scss */
#darkGreen {
  background: #009900;
}

/* line 297, ../sass/style.scss */
#bi {
  background: #1BD1A5;
}

/* line 301, ../sass/style.scss */
#biGreen {
  background: #2ADD9C;
}

/* line 305, ../sass/style.scss */
#greenBi {
  background: #48C0A3;
}

/* line 309, ../sass/style.scss */
#emerald {
  background: #3DE1AD;
}

/* line 313, ../sass/style.scss */
#grassGreen {
  background: #40DE5A;
}

/* line 317, ../sass/style.scss */
#qing {
  background: #00E09E;
}

/* line 321, ../sass/style.scss */
#greenCui {
  background: #00E079;
}

/* line 325, ../sass/style.scss */
#greenWhite {
  background: #C0EBD7;
}

/* line 329, ../sass/style.scss */
#duckEgg {
  background: #E0EEE8;
}

/* line 333, ../sass/style.scss */
#crab {
  background: #BBCDC5;
}

/* line 337, ../sass/style.scss */
#ya {
  background: #424C50;
}

/* line 341, ../sass/style.scss */
#green {
  background: #00E500;
}

/* line 345, ../sass/style.scss */
#pea {
  background: #9ED048;
}

/* line 349, ../sass/style.scss */
#peaGreen {
  background: #96CE54;
}

/* line 353, ../sass/style.scss */
#rock {
  background: #7BCFA6;
}

/* line 357, ../sass/style.scss */
#jade {
  background: #2EDFA3;
}

/* line 361, ../sass/style.scss */
#misty {
  background: #7FECAD;
}

/* line 365, ../sass/style.scss */
#ai {
  background: #A4E2C6;
}

/* line 369, ../sass/style.scss */
#loose {
  background: #21A675;
}

/* line 373, ../sass/style.scss */
#songhuaGreen {
  background: #BCE672;
}

/* line 377, ../sass/style.scss */
#songhua {
  background: #BCE672;
}

/* line 381, ../sass/style.scss */
#blue {
  background: #44CEF6;
}

/* line 385, ../sass/style.scss */
#darkBlueGreen {
  background: #177CB0;
}

/* line 389, ../sass/style.scss */
#indigo {
  background: #065279;
}

/* line 393, ../sass/style.scss */
#blueGreen {
  background: #3EEDE7;
}

/* line 397, ../sass/style.scss */
#weiBlue {
  background: #70F3FF;
}

/* line 401, ../sass/style.scss */
#sapphire {
  background: #4B5CC4;
}

/* line 405, ../sass/style.scss */
#blueGray {
  background: #A1AFC9;
}

/* line 409, ../sass/style.scss */
#darkQing {
  background: #2E4E7E;
}

/* line 413, ../sass/style.scss */
#darkBlue {
  background: #3B2E7E;
}

/* line 417, ../sass/style.scss */
#dai {
  background: #4A4266;
}

/* line 421, ../sass/style.scss */
#daiLuo {
  background: #4A4266;
}

/* line 425, ../sass/style.scss */
#daiGreen {
  background: #426666;
}

/* line 429, ../sass/style.scss */
#daiBlue {
  background: #425066;
}

/* line 433, ../sass/style.scss */
#daiPurple {
  background: #574266;
}

/* line 437, ../sass/style.scss */
#purple {
  background: #8D4BBB;
}

/* line 441, ../sass/style.scss */
#purpleJiang {
  background: #815463;
}

/* line 445, ../sass/style.scss */
#jiangPurple {
  background: #815476;
}

/* line 449, ../sass/style.scss */
#rosewood {
  background: #4C211B;
}

/* line 453, ../sass/style.scss */
#ganQing {
  background: #003371;
}

/* line 457, ../sass/style.scss */
#purpleTang {
  background: #56004F;
}

/* line 461, ../sass/style.scss */
#qingLotus {
  background: #801DAE;
}

/* line 465, ../sass/style.scss */
#ultramarine {
  background: #4C8DAE;
}

/* line 469, ../sass/style.scss */
#snowQing {
  background: #B0A4E3;
}

/* line 473, ../sass/style.scss */
#lilac {
  background: #CCA4E3;
}

/* line 477, ../sass/style.scss */
#ou {
  background: #EDD1D8;
}

/* line 481, ../sass/style.scss */
#ouHe {
  background: #E4C6D0;
}

/* line 485, ../sass/style.scss */
#cang {
  background: #75878A;
}

/* line 489, ../sass/style.scss */
#cangCui {
  background: #519A73;
}

/* line 493, ../sass/style.scss */
#cangYellow {
  background: #A29B7C;
}

/* line 497, ../sass/style.scss */
#cangQing {
  background: #7397AB;
}

/* line 501, ../sass/style.scss */
#cangBlack {
  background: #395260;
}

/* line 505, ../sass/style.scss */
#cangWhite {
  background: #D1D9E0;
}

/* line 509, ../sass/style.scss */
#water {
  background: #88ADA6;
}

/* line 513, ../sass/style.scss */
#waterRed {
  background: #F3D3E7;
}

/* line 517, ../sass/style.scss */
#waterGreen {
  background: #D4F2E7;
}

/* line 521, ../sass/style.scss */
#waterBlue {
  background: #D2F0F4;
}

/* line 525, ../sass/style.scss */
#danQing {
  background: #D3E0F3;
}

/* line 529, ../sass/style.scss */
#lakeBlue {
  background: #30DFF3;
}

/* line 533, ../sass/style.scss */
#lakeGreen {
  background: #25F8CD;
}

/* line 537, ../sass/style.scss */
#pureWhite {
  background: #FFFFFF;
}

/* line 541, ../sass/style.scss */
#ivoryWhite {
  background: #FFFBF0;
}

/* line 545, ../sass/style.scss */
#snowWhite {
  background: #F0FCFF;
}

/* line 549, ../sass/style.scss */
#moonWhite {
  background: #D6ECF0;
}

/* line 553, ../sass/style.scss */
#gao {
  background: #F2ECDE;
}

/* line 557, ../sass/style.scss */
#su {
  background: #E0F0E9;
}

/* line 561, ../sass/style.scss */
#tu {
  background: #F3F9F1;
}

/* line 565, ../sass/style.scss */
#frost {
  background: #E9F1F6;
}

/* line 569, ../sass/style.scss */
#greyDawn {
  background: #FCEFE8;
}

/* line 573, ../sass/style.scss */
#ying {
  background: #E3F9FD;
}

/* line 577, ../sass/style.scss */
#gray {
  background: #808080;
}

/* line 581, ../sass/style.scss */
#tooth {
  background: #EEDEB0;
}

/* line 585, ../sass/style.scss */
#leadWhite {
  background: #F0F0F4;
}

/* line 589, ../sass/style.scss */
#xuan {
  background: #622A1D;
}

/* line 593, ../sass/style.scss */
#xuanQing {
  background: #3D3B4F;
}

/* line 597, ../sass/style.scss */
#wu {
  background: #725E82;
}

/* line 601, ../sass/style.scss */
#wuBlack {
  background: #392F41;
}

/* line 605, ../sass/style.scss */
#qiBlack {
  background: #161823;
}

/* line 609, ../sass/style.scss */
#mo {
  background: #50616D;
}

/* line 613, ../sass/style.scss */
#moGray {
  background: #758A99;
}

/* line 617, ../sass/style.scss */
#black {
  background: #000000;
}

/* line 621, ../sass/style.scss */
#zi {
  background: #493131;
}

/* line 625, ../sass/style.scss */
#ivoryBlack {
  background: #312520;
}

/* line 629, ../sass/style.scss */
#li {
  background: #5D513C;
}

/* line 633, ../sass/style.scss */
#daybreak {
  background: #756640;
}

/* line 637, ../sass/style.scss */
#you {
  background: #6B6882;
}

/* line 641, ../sass/style.scss */
#youBlack {
  background: #665757;
}

/* line 645, ../sass/style.scss */
#an {
  background: #41555D;
}

/* line 649, ../sass/style.scss */
#chiGold {
  background: #F2BE45;
}

/* line 653, ../sass/style.scss */
#gold {
  background: #EACD76;
}

/* line 657, ../sass/style.scss */
#silverWhite {
  background: #E9E7EF;
}

/* line 661, ../sass/style.scss */
#verdigris {
  background: #549688;
}

/* line 665, ../sass/style.scss */
#wuGold {
  background: #A78E44;
}

/* line 669, ../sass/style.scss */
#oldSilver {
  background: #BACAC6;
}
